body{
    /* font-family: 'Montserrat'; */
    /* font-family: 'Ubuntu', sans-serif; */ 
}
#title{
    background-color: #ff4c68;
    color: white;
    /* position: aboslute; */
}
h1{
    font-family: 'Montserrat-black', sans-serif;
    font-size:4rem;
    line-height: 1.5; 
    font-weight:900;
}
.container-fluid{
    padding: 3% 15% 0% 15%;
}
.navbar{
    padding: 0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: 'Montserrat-Light';
    font-size: 1.5rem;

}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 3.5rem;
    font-weight: bold;
}
.row{
    padding-top: 5%;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.title-img{
    /* padding: 7% 15%; */
    width: 50%;
    transform: rotate(25deg);
    position: relative;
    left: 30%;
}
/* feature section */
#features{
    background-color: #fff;
    position: relative;
}
h2{
    font-family: "Montseerrat-Bold";
    font-size: 3rem;
    line-height: 1.5;
}

h3{
    font-family: "Montserrat-Bold";
    font-size: 1.5rem;
}
.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
.f-row{
    padding: 7% 15%;
}
.f-para{
    columns: #8f8f8f;
    padding-top: 1%;
}
.f-desc{
    text-align: center;
    margin: 2% auto;
}

/* testrimonials */

#testimonials{
    background-color: #ef8172;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* press section */

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing */

#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}

/* call to action */

#cta{
    background-color: #ff4c68;
}

.cta-container{
    text-align: center;
    padding: 7% 15%;
}
.cta-desc{
    color: #fff;
    font-family: 'Montserrat-black';
    font-size: 50px;
    font-weight: 900;
}

#footer{
    background-color: #fff;

}
.social-link{
    padding-bottom:2% ;
}
.social-icon{
    padding-left: 2%;
    color: black;
}

@media screen and (max-width: 1270px){
    #title{
        text-align: center;
    }
    .title-img{
        transform: rotate(0);
    }
}